///////////////////////////////////////////////////////////////////////////////
// 576                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 576px)
    .container
        max-width: 540px

        &--fluid
            max-width: 100%

    .hero
        height: 500px

        &__text
            +font-size(60)

            span
                margin-left: 6rem

        &__content
            .btn
                margin-left: 6rem

    .section-heading
        +font-size(66)

///////////////////////////////////////////////////////////////////////////////
// 768                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 768px)
    .container
        max-width: 720px

        &--fluid
            max-width: 100%

        &--thin
            width: 80%

    .header
        &__brand
            text-align: left

    .navbar
        &__toggler
            display: none

        &__nav
            align-items: center
            flex-direction: row
            max-height: unset !important // sass-lint:disable-line no-important

        &__item
            padding-bottom: 5px

    .hero
        height: 600px

        &__text
            +font-size(80)

            span
                margin-left: 12rem

        &__content
            .btn
                margin-left: 12rem

    .link-grid
        grid-template-columns: repeat(3, 1fr)

    .footer
        align-items: flex-end

        &__info
            flex-direction: row
            padding: 0 30px

        &__nav
            padding: 0 30px

        .navbar__nav
            align-items: flex-start

///////////////////////////////////////////////////////////////////////////////
// 992                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 992px)
    .container
        max-width: 960px

        &--fluid
            max-width: 100%

    .hero
        &__text
            +font-size(100)

            span
                margin-left: 15rem

        &__content
            .btn
                margin-left: 15rem

    .footer
        &__info
            padding: 0 60px

        &__nav
            padding: 0 60px

///////////////////////////////////////////////////////////////////////////////
// 1200                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1200px)
    .container
        max-width: 1140px

        &--fluid
            max-width: 100%
