///////////////////////////////////////////////////////////////////////////////
// 576                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 576px)
    .container
        max-width: 540px

        &--fluid
            max-width: 100%

    .hero
        &--home
            height: 500px

        &__text
            +font-size(60)

        &__content
            padding: 15px

            .btn
                margin-left: 6rem

    .section-heading
        +font-size(66)

        &::after
            width: 50%

    .client-slider
        margin: 0
        width: auto

    .customers
        grid-template-columns: repeat(3, 1fr)

    .project
        &__gallery
            grid-template-columns: 1fr 1fr

///////////////////////////////////////////////////////////////////////////////
// 768                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 768px)
    .container
        max-width: 720px

        &--fluid
            max-width: 100%

        &--thin
            max-width: 576px

    .header
        &__brand
            text-align: left

    .navbar
        &__toggler
            display: none

        &__nav
            align-items: center
            flex-direction: row
            max-height: unset !important // sass-lint:disable-line no-important

        &__item
            padding-bottom: 5px

        &__drop
            &:hover
                & > .navbar__drop-menu
                    display: block

    .hero

        &--home
            height: 600px

        &__text
            +font-size(80)

        &__content
            padding: 30px

            .btn
                margin-left: 12rem

    .section-heading
        &::after
            width: 300px

    .link-grid
        grid-template-columns: repeat(3, 1fr)

    .client-slider
        &__next,
        &__prev
            +font-size(66)

        &__next
            transform: translate(150%, -50%)

        &__prev
            transform: translate(-150%, -50%)

    .services
        & .container
            flex-direction: row

    .service
        &:first-of-type
            margin-bottom: 0

        &:last-of-type
            margin-left: 30px

    .projects
        grid-template-columns: 1fr 1fr

    .footer
        align-items: flex-end

        &__partners
            flex-direction: row

        &__partner
            margin-bottom: 0

        &__info
            flex-direction: row
            padding: 0 30px

        &__nav
            padding: 0 30px

        .navbar__nav
            align-items: flex-start

///////////////////////////////////////////////////////////////////////////////
// 992                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 992px)
    .container
        max-width: 960px

        &--fluid
            max-width: 100%

        &--thin
            max-width: 793px

    .hero
        &__text
            +font-size(100)

        &__content
            .btn
                margin-left: 15rem

    .service
        &:last-of-type
            margin-left: 60px

    .recognition
        flex-direction: row

        &__image
            margin-bottom: 0

        &__info
            margin-left: 60px

    .employment
        &__position
            margin-bottom: 60px

            &::after
                display: none

        &__info
            flex-direction: row

        &__text
            margin-right: 30px

            &::after
                display: block

    .projects
        grid-template-columns: repeat(3, 1fr)

    .project
        &__gallery
            grid-gap: 30px

    .footer
        &__info
            padding: 0 60px

        &__nav
            padding: 0 60px

///////////////////////////////////////////////////////////////////////////////
// 1200                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1200px)
    .container
        max-width: 1140px

        &--fluid
            max-width: 100%

        &--thin
            max-width: 960px
