@import _variables.sass
@import _reset.sass

///////////////////////////////////////////////////////////////////////////////
// TAGS                                                                      //
///////////////////////////////////////////////////////////////////////////////

html
    font-size: 62.5%

body
    @extend %font-minion-pro
    +font-size(16)
    line-height: 1.5

h1,
h2,
h3,
h4,
h5,
h6
    @extend %font-open-sans-bold
    margin-bottom: 15px

h1
    +font-size(32)

h2
    +font-size(28)

h3
    +font-size(26)

h4
    +font-size(24)

h5
    +font-size(22)

h6
    +font-size(20)

p
    margin-bottom: 15px

a
    color: $color-primary
    text-decoration: none

    &:hover
        text-decoration: underline

img
    max-width: 100%

div
    background-position: center center
    background-size: cover

///////////////////////////////////////////////////////////////////////////////
// HEADER                                                                    //
///////////////////////////////////////////////////////////////////////////////

.header
    &__brand
        text-align: center

        img
            max-width: 100%

    &__separator
        background-color: $color-primary
        height: 5px
        width: 100%

    &__nav
        margin-top: 30px

    .navbar
        &__link
            @extend %font-helvetica-thin
            +font-size(18)
            color: $color-black

            &:hover
                color: $color-primary

.navbar
    &__toggler
        +font-size(30)
        background-color: transparent
        border: 0
        cursor: pointer
        display: block
        margin-bottom: 15px
        margin-left: auto
        margin-right: auto

    &__nav
        align-items: flex-start
        display: flex
        flex-direction: column
        justify-content: flex-end
        max-height: 0
        overflow: hidden
        padding-left: 5px
        padding-right: 5px
        transition: .3s max-height ease

    &__item
        margin-left: 20px
        margin-right: 20px
        padding-bottom: 15px
        padding-top: 5px

///////////////////////////////////////////////////////////////////////////////
// CONTENT                                                                   //
///////////////////////////////////////////////////////////////////////////////

.aligncenter
    display: block
    margin-left: auto
    margin-right: auto

.alignleft
    float: left
    margin-bottom: 5px
    margin-right: 15px
    margin-top: 5px

.alignright
    float: right
    margin-bottom: 5px
    margin-left: 15px
    margin-top: 5px

.alignleft,
.alignright
    &::after
        clear: both
        content: ' '
        display: table

.container
    margin-left: auto
    margin-right: auto
    padding-left: 15px
    padding-right: 15px
    position: relative
    width: 100%

    &::after
        clear: both
        content: ' '
        display: table

    &--fluid
        max-width: 100%

    &--thin
        width: 100%

.section
    padding-bottom: 60px
    padding-top: 60px
    position: relative

    &::after
        clear: both
        content: ' '
        display: table

.section-heading
    +font-size(50)
    margin-bottom: 30px
    position: relative
    text-align: center

    &::after
        background-color: $color-primary
        bottom: 0
        content: ' '
        height: 3px
        left: 50%
        position: absolute
        transform: translateX(-50%)
        width: 100%

    &--alt
        color: $color-text-dark

        &::after
            display: none


.bigtext
    @extend %font-minion-pro
    font-size: 3em

.medtext
    @extend %font-minion-pro
    font-size: 2em

.white-gradient-overlay
    background: linear-gradient(rgba(255, 255, 255, .8), transparent)
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

.btn
    +font-size(26)
    padding: 10px 30px

    &--primary
        background-color: $color-primary
        color: $color-white

.hero
    height: 400px
    position: relative

    &__text
        @extend %font-open-sans-semibold
        +font-size(55)
        color: $color-white
        text-align: center

    &__content
        align-items: center
        background-color: rgba(0, 0, 0, .4)
        display: flex
        height: 100%
        justify-content: center
        padding: 30px
        width: 100%

    &--home
        .hero__text
            @extend %font-minion-pro

        .hero__content
            align-items: flex-start
            background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))

.link-grid
    display: grid
    grid-gap: 30px 15px
    grid-template-columns: 1fr

    &__item
        display: flex
        flex-direction: column

        &:hover
            text-decoration: none

            .link-grid__title
                @extend %font-helvetica-medium

            img
                transform: scale(1.3)

        &--tall
            grid-row: span 2

    &__image
        flex: 1
        overflow: hidden

        img
            display: block
            height: 100%
            transition: 5s transform linear
            width: 100%

    &__title
        @extend %font-helvetica
        +font-size(30)
        border-bottom: 2px solid $color-primary
        color: $color-black
        margin-bottom: 0
        text-align: center

.client-slider-text
    +font-size(32)

.client-slider
    margin: 0 auto
    position: relative
    width: 80%

    &__item
        padding: 5px

        &.slick-slide
            align-items: center

    &__prev,
    &__next
        +font-size(60)
        color: $color-black
        position: absolute
        top: 50%

    &__prev
        left: 0
        transform: translate(-100%, -50%)

    &__next
        right: 0
        transform: translate(100%, -50%)

    .slick-track
        align-items: center

.slick-initialized
    .slick-slide
        display: flex
        flex-direction: column
        justify-content: center

.slick-slider
    .slick-track
        display: flex

.slick-arrow
    cursor: pointer

.featured-heading
    background-color: $color-black
    color: $color-white
    margin-bottom: -200px
    padding-bottom: 300px
    padding-top: 100px

    &::after
        display: none

.featured-slider
    &__item
        @extend %font-helvetica
        padding: 0 15px

    &__title
        @extend %font-helvetica-medium
        +font-size(20)
        font-weight: normal
        margin-bottom: 10px
        margin-top: 15px
        padding-bottom: 10px
        position: relative

        &::after
            background-color: $color-primary
            bottom: 0
            content: ' '
            height: 2px
            left: 0
            position: absolute
            width: 80%

    &__location
        +font-size(20)
        color: $color-text-grey

    &__description
        +font-size(18)

    &__prev,
    &__next
        +font-size(60)
        align-items: center
        background-color: $color-slick-arrow-bg
        border-radius: 50%
        color: $color-primary
        display: flex
        height: 100px
        justify-content: center
        position: absolute
        top: 200px
        width: 100px
        z-index: 50

    &__prev
        left: 0
        transform: translateX(-25%)

    &__next
        right: 0
        transform: translateX(25%)

.services
    padding-bottom: 60px
    padding-top: 60px

    &--dark
        background-color: $color-black

        color: $color-white

    & .container
        display: flex
        flex-direction: column

.service
    display: flex
    flex: 1
    flex-direction: column

    &__image
        width: 100%

    &__title
        +font-size(32)
        margin-bottom: 30px
        margin-top: 15px
        padding-bottom: 15px
        position: relative

        &::after
            background-color: $color-primary
            bottom: 0
            content: ' '
            height: 3px
            left: 0
            position: absolute
            width: 80%

    &__text
        +font-size(26)
        margin-bottom: 30px

    &__link
        @extend %font-helvetica-medium
        +font-size(24)
        margin-top: auto
        text-align: right

    &:first-of-type
        margin-bottom: 30px

.featured-services
    &__top-bar
        background-color: $color-white
        height: 300px
        margin-bottom: -150px

    &__content
        background-color: $color-black

    &__image
        width: 100%

    .services
        padding-top: 0

.customers
    display: grid
    grid-gap: 60px 30px
    grid-template-columns: 1fr

.customer
    align-items: center
    display: flex
    justify-content: center

.recognition
    align-items: flex-start
    display: flex
    flex-direction: column

    &__image
        flex: 3
        margin-bottom: 30px
        width: 100%

    &__info
        flex: 2

    &__name
        +font-size(36)
        margin-top: -.4em

    &__text
        +font-size(26)


///////////////////////////////////////////////////////////////////////////////
// FOOTER                                                                    //
///////////////////////////////////////////////////////////////////////////////

.footer
    @extend %font-open-sans
    align-items: center
    background-color: $color-dark
    color: $color-white
    display: flex
    flex-direction: column
    padding-bottom: 30px

    &__partners
        align-items: center
        background-color: $color-white
        display: flex
        flex-direction: column
        justify-content: space-around
        margin-bottom: 30px
        padding: 60px 30px
        width: 100%

    &__partner
        margin-bottom: 30px

        &:last-of-type
            margin-bottom: 0

    &__info
        align-items: center
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-bottom: 60px
        padding: 0 15px
        width: 100%

    &__contact
        i
            +font-size(30)

        a
            color: $color-white

            &:hover
                color: $color-primary
                text-decoration: none

    &__heading
        @extend %font-open-sans-semibold

    &__nav
        border-bottom: 3px solid $color-primary
        display: inline-block
        padding: 0 15px

    &__copyright
        margin-top: 30px
        padding: 0 30px
        text-align: center
        width: 100%

    .navbar
        &__nav
            align-items: center
            max-height: unset

        &__link
            @extend %font-open-sans-bold
            +font-size(22)
            color: $color-white

            &:hover
                color: $color-primary

@import _responsive.sass
