@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("fonts/da266c3a-a094-4adc-a81e-12f73609ba16.eot?#iefix");
  src: url("fonts/da266c3a-a094-4adc-a81e-12f73609ba16.eot?#iefix") format("eot"), url("fonts/7d63ccf8-e0ae-4dee-ad4d-bbc798aa5803.woff2") format("woff2"), url("fonts/b2c1327f-ab3d-4230-93d7-eee8596e1498.woff") format("woff"), url("fonts/922917a9-4ca8-4c0b-b1bb-417b6ff0210e.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix");
  src: url("fonts/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix") format("eot"), url("fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"), url("fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff"), url("fonts/8f4a1705-214a-4dd0-80b8-72252c37e688.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix");
  src: url("fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix") format("eot"), url("fonts/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2"), url("fonts/7802e576-2ffa-4f22-a409-534355fbea79.woff") format("woff"), url("fonts/14d824a2-2a5c-4692-8e30-74f6e177b675.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("fonts/9697cfef-7816-47cc-81ed-c56c029d3bcf.eot?#iefix");
  src: url("fonts/9697cfef-7816-47cc-81ed-c56c029d3bcf.eot?#iefix") format("eot"), url("fonts/1f4274cd-2674-481e-9023-69e33ffca161.woff2") format("woff2"), url("fonts/5e8d493c-be01-44b9-962e-504a5cf10dd8.woff") format("woff"), url("fonts/ae36b4a0-aa2c-46cc-98d8-d8b7d22241dc.ttf") format("truetype");
}
.project__description, .project__subtext, .projects, .employment__lower, .featured-slider__item, .link-grid__title, .navbar__drop-item {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.project__location, .employment__text, .header .navbar__link {
  font-family: "Helvetica Neue Thin", "Helvetica", sans-serif;
  letter-spacing: 0.1em;
}

.service__link, .featured-slider__title, .link-grid__item:hover .link-grid__title {
  font-family: "Helvetica Neue Medium", "Helvetica", sans-serif;
}

.footer, .project__title {
  font-family: "Open Sans", sans-serif;
}

.footer__heading, .breadcrumbs, .view-by-category, .hero__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.footer .navbar__link, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.employment__upper, .hero--home .hero__text, .medtext, .bigtext, body {
  font-family: minion-pro, serif;
  font-style: normal;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: "";
  content: none;
}

q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}

h1 {
  font-size: 32px;
  font-size: 3.2rem;
}

h2 {
  font-size: 28px;
  font-size: 2.8rem;
}

h3 {
  font-size: 26px;
  font-size: 2.6rem;
}

h4 {
  font-size: 24px;
  font-size: 2.4rem;
}

h5 {
  font-size: 22px;
  font-size: 2.2rem;
}

h6 {
  font-size: 20px;
  font-size: 2rem;
}

p {
  margin-bottom: 15px;
}

a {
  color: #d71921;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;
}

div {
  background-position: center center;
  background-size: cover;
}

ul {
  list-style-type: none;
}
ul li::before {
  content: "-";
  margin-right: 5px;
}

.header {
  padding-bottom: 30px;
  padding-top: 30px;
}
.header__brand {
  text-align: center;
}
.header__brand img {
  max-width: 100%;
}
.header__separator {
  background-color: #d71921;
  height: 5px;
  width: 100%;
}
.header__nav {
  margin-top: 30px;
}
.header .navbar__link {
  font-size: 18px;
  font-size: 1.8rem;
  color: #000;
}
.header .navbar__link:hover {
  color: #d71921;
}

.navbar__toggler {
  font-size: 30px;
  font-size: 3rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
.navbar__nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 0;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.3s max-height ease;
}
.navbar__item {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
  padding-top: 5px;
}
.navbar__item::before {
  display: none;
}
.navbar__drop-menu {
  background-color: #000;
  display: none;
  margin-top: 40px;
  padding: 15px 30px;
  position: absolute;
  z-index: 99;
}
.navbar__drop-menu:hover {
  display: block;
}
.navbar__drop-menu::before {
  content: " ";
  height: 45px;
  left: 0;
  position: absolute;
  top: -45px;
  width: 100%;
}
.navbar__drop-item {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}
.navbar__drop-item:last-of-type {
  margin-bottom: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-top: 5px;
}

.alignright {
  float: right;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 5px;
}

.alignleft::after,
.alignright::after {
  clear: both;
  content: " ";
  display: table;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}
.container::after {
  clear: both;
  content: " ";
  display: table;
}
.container--fluid {
  max-width: 100%;
}
.container--thin {
  width: 100%;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
}
.section::after {
  clear: both;
  content: " ";
  display: table;
}

.section-heading {
  font-size: 50px;
  font-size: 5rem;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
.section-heading::after {
  background-color: #d71921;
  bottom: 0;
  content: " ";
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}
.section-heading--alt {
  color: #404040;
}
.section-heading--alt::after {
  display: none;
}

.bigtext {
  font-size: 3em;
}

.medtext {
  font-size: 2em;
}

.white-gradient-overlay {
  background: linear-gradient(rgba(255, 255, 255, 0.8), transparent);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn {
  font-size: 26px;
  font-size: 2.6rem;
  padding: 10px 30px;
}
.btn--primary {
  background-color: #d71921;
  color: #fff;
}

.hero {
  height: 400px;
  position: relative;
}
.hero__text {
  font-size: 55px;
  font-size: 5.5rem;
  color: #fff;
  text-align: center;
}
.hero__content {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 30px;
  width: 100%;
}
.hero--home .hero__content {
  align-items: flex-start;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.link-grid {
  display: grid;
  grid-gap: 30px 15px;
  grid-template-columns: 1fr;
}
.link-grid__item {
  display: flex;
  flex-direction: column;
}
.link-grid__item:hover {
  text-decoration: none;
}
.link-grid__item:hover img {
  transform: scale(1.3);
}
.link-grid__item--tall {
  grid-row: span 2;
}
.link-grid__image {
  flex: 1;
  overflow: hidden;
}
.link-grid__image img {
  display: block;
  height: 100%;
  transition: 5s transform linear;
  width: 100%;
}
.link-grid__title {
  font-size: 30px;
  font-size: 3rem;
  border-bottom: 2px solid #d71921;
  color: #000;
  margin-bottom: 0;
  text-align: center;
}

.client-slider-text {
  font-size: 32px;
  font-size: 3.2rem;
}

.client-slider {
  margin: 0 auto;
  position: relative;
  width: 80%;
}
.client-slider__item {
  padding: 5px;
}
.client-slider__item.slick-slide {
  align-items: center;
}
.client-slider__prev, .client-slider__next {
  font-size: 60px;
  font-size: 6rem;
  color: #000;
  position: absolute;
  top: 50%;
}
.client-slider__prev {
  left: 0;
  transform: translate(-100%, -50%);
}
.client-slider__next {
  right: 0;
  transform: translate(100%, -50%);
}
.client-slider .slick-track {
  align-items: center;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-slider .slick-track {
  display: flex;
}

.slick-arrow {
  cursor: pointer;
}

.featured-heading {
  background-color: #000;
  color: #fff;
  margin-bottom: -200px;
  padding-bottom: 300px;
  padding-top: 100px;
}
.featured-heading::after {
  display: none;
}

.featured-slider__item {
  padding: 0 15px;
}
.featured-slider__title {
  font-size: 20px;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
  position: relative;
}
.featured-slider__title::after {
  background-color: #d71921;
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  position: absolute;
  width: 80%;
}
.featured-slider__location {
  font-size: 20px;
  font-size: 2rem;
  color: #626262;
}
.featured-slider__description {
  font-size: 18px;
  font-size: 1.8rem;
}
.featured-slider__prev, .featured-slider__next {
  font-size: 60px;
  font-size: 6rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: #d71921;
  display: flex;
  height: 100px;
  justify-content: center;
  position: absolute;
  top: 200px;
  width: 100px;
  z-index: 50;
}
.featured-slider__prev {
  left: 0;
  transform: translateX(-25%);
}
.featured-slider__next {
  right: 0;
  transform: translateX(25%);
}

.services {
  padding-bottom: 60px;
  padding-top: 60px;
}
.services--dark {
  background-color: #000;
  color: #fff;
}
.services .container {
  display: flex;
  flex-direction: column;
}

.service {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.service__image {
  width: 100%;
}
.service__title {
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 30px;
  margin-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.service__title::after {
  background-color: #d71921;
  bottom: 0;
  content: " ";
  height: 3px;
  left: 0;
  position: absolute;
  width: 80%;
}
.service__text {
  font-size: 26px;
  font-size: 2.6rem;
  margin-bottom: 30px;
}
.service__link {
  font-size: 24px;
  font-size: 2.4rem;
  margin-top: auto;
  text-align: right;
}
.service:first-of-type {
  margin-bottom: 30px;
}

.featured-services__top-bar {
  background-color: #fff;
  height: 300px;
  margin-bottom: -150px;
}
.featured-services__content {
  background-color: #000;
}
.featured-services__image {
  width: 100%;
}
.featured-services .services {
  padding-top: 0;
}

.customers {
  display: grid;
  grid-gap: 60px 30px;
  grid-template-columns: 1fr;
}

.customer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.recognition {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.recognition__image {
  flex: 3;
  margin-bottom: 30px;
  width: 100%;
}
.recognition__info {
  flex: 2;
}
.recognition__name {
  font-size: 36px;
  font-size: 3.6rem;
  margin-top: -0.4em;
}
.recognition__text {
  font-size: 26px;
  font-size: 2.6rem;
}

.employment {
  background-position: top center;
  background-repeat: repeat;
}
.employment__position {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}
.employment__position::after {
  background-color: #727272;
  bottom: 0;
  content: " ";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.employment__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.employment__text {
  font-size: 20px;
  font-size: 2rem;
  flex: 1;
  position: relative;
}
.employment__text::after {
  background-color: #727272;
  bottom: 0;
  content: " ";
  display: none;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.employment__text li {
  margin-bottom: 15px;
}
.employment__image {
  align-self: flex-start;
  flex: 1;
  width: 100%;
}
.employment__upper {
  font-size: 32px;
  font-size: 3.2rem;
}
.employment__lower {
  font-size: 26px;
  font-size: 2.6rem;
}

.projects {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr;
}
.projects::after {
  display: none;
}
.projects__image {
  width: 100%;
}
.projects__title {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}
.projects__title::after {
  background-color: #d71921;
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  position: absolute;
  width: 80%;
}
.projects__location {
  font-size: 20px;
  font-size: 2rem;
  color: #626262;
}
.projects__description {
  font-size: 18px;
  font-size: 1.8rem;
}

.view-by-category {
  font-size: 26px;
  font-size: 2.6rem;
}
.view-by-category__toggle {
  cursor: pointer;
  padding-bottom: 15px;
  position: relative;
}
.view-by-category__toggle::after {
  background-color: #d71921;
  bottom: 0;
  content: " ";
  height: 2px;
  position: absolute;
  right: 0;
  width: 90%;
}
.view-by-category__toggle .fas {
  color: #d71921;
}
.view-by-category__list {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 15px;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: 0.3s max-height ease;
}
.view-by-category__list li {
  list-style: none;
}
.view-by-category__list li::before {
  display: none;
}
.view-by-category__list li a {
  color: #000;
}
.view-by-category__list li a:hover {
  color: #d71921;
  text-decoration: none;
}

.project {
  margin-bottom: 60px;
}
.project__title {
  font-size: 40px;
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
}
.project__location {
  font-size: 36px;
  font-size: 3.6rem;
  color: #626262;
  margin-bottom: 30px;
  text-align: center;
}
.project__gallery {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  width: 100%;
}
.project__image {
  display: flex;
}
.project__image--tall {
  grid-row: span 2;
}
.project__image--wide {
  grid-column: span 2;
}
.project__image img {
  width: 100%;
}
.project__subtext {
  font-size: 18px;
  font-size: 1.8rem;
  color: #626262;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}
.project__subtext::after {
  background-color: #626262;
  bottom: 0;
  content: " ";
  height: 1px;
  left: 0;
  position: absolute;
  width: 300px;
}
.project__description {
  font-size: 20px;
  font-size: 2rem;
}

.breadcrumbs {
  font-size: 20px;
  font-size: 2rem;
  background-color: #1f1f1f;
  color: #fff;
  padding: 10px 20px;
}
.breadcrumbs__link {
  color: #fff;
}
.breadcrumbs__link:hover {
  color: #d71921;
  text-decoration: none;
}

.footer {
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.footer__partners {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 60px 30px;
  width: 100%;
}
.footer__partner {
  margin-bottom: 30px;
}
.footer__partner:last-of-type {
  margin-bottom: 0;
}
.footer__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 15px;
  width: 100%;
}
.footer__contact i {
  font-size: 30px;
  font-size: 3rem;
}
.footer__contact a {
  color: #fff;
}
.footer__contact a:hover {
  color: #d71921;
  text-decoration: none;
}
.footer__nav {
  border-bottom: 3px solid #d71921;
  display: inline-block;
  padding: 0 15px;
}
.footer__copyright {
  margin-top: 30px;
  padding: 0 30px;
  text-align: center;
  width: 100%;
}
.footer .navbar__nav {
  align-items: center;
  max-height: unset;
}
.footer .navbar__link {
  font-size: 22px;
  font-size: 2.2rem;
  color: #fff;
}
.footer .navbar__link:hover {
  color: #d71921;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container--fluid {
    max-width: 100%;
  }

  .hero--home {
    height: 500px;
  }
  .hero__text {
    font-size: 60px;
    font-size: 6rem;
  }
  .hero__content .btn {
    margin-left: 6rem;
  }

  .section-heading {
    font-size: 66px;
    font-size: 6.6rem;
  }
  .section-heading::after {
    width: 50%;
  }

  .client-slider {
    margin: 0;
    width: auto;
  }

  .customers {
    grid-template-columns: repeat(3, 1fr);
  }

  .project__gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container--fluid {
    max-width: 100%;
  }
  .container--thin {
    max-width: 576px;
  }

  .header__brand {
    text-align: left;
  }

  .navbar__toggler {
    display: none;
  }
  .navbar__nav {
    align-items: center;
    flex-direction: row;
    max-height: unset !important;
  }
  .navbar__item {
    padding-bottom: 5px;
  }
  .navbar__drop:hover > .navbar__drop-menu {
    display: block;
  }

  .hero--home {
    height: 600px;
  }
  .hero__text {
    font-size: 80px;
    font-size: 8rem;
  }
  .hero__content .btn {
    margin-left: 12rem;
  }

  .section-heading::after {
    width: 300px;
  }

  .link-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .client-slider__next, .client-slider__prev {
    font-size: 66px;
    font-size: 6.6rem;
  }
  .client-slider__next {
    transform: translate(150%, -50%);
  }
  .client-slider__prev {
    transform: translate(-150%, -50%);
  }

  .services .container {
    flex-direction: row;
  }

  .service:first-of-type {
    margin-bottom: 0;
  }
  .service:last-of-type {
    margin-left: 30px;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    align-items: flex-end;
  }
  .footer__partners {
    flex-direction: row;
  }
  .footer__partner {
    margin-bottom: 0;
  }
  .footer__info {
    flex-direction: row;
    padding: 0 30px;
  }
  .footer__nav {
    padding: 0 30px;
  }
  .footer .navbar__nav {
    align-items: flex-start;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container--fluid {
    max-width: 100%;
  }
  .container--thin {
    max-width: 793px;
  }

  .hero__text {
    font-size: 100px;
    font-size: 10rem;
  }
  .hero__content .btn {
    margin-left: 15rem;
  }

  .service:last-of-type {
    margin-left: 60px;
  }

  .recognition {
    flex-direction: row;
  }
  .recognition__image {
    margin-bottom: 0;
  }
  .recognition__info {
    margin-left: 60px;
  }

  .employment__position {
    margin-bottom: 60px;
  }
  .employment__position::after {
    display: none;
  }
  .employment__info {
    flex-direction: row;
  }
  .employment__text {
    margin-right: 30px;
  }
  .employment__text::after {
    display: block;
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .project__gallery {
    grid-gap: 30px;
  }

  .footer__info {
    padding: 0 60px;
  }
  .footer__nav {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container--fluid {
    max-width: 100%;
  }
  .container--thin {
    max-width: 960px;
  }
}

/*# sourceMappingURL=style.css.map */
