@import _variables.sass

body
    @extend %font-open-sans

h1,
h2,
h3,
h4,
h5,
h6
    @extend %font-minion-pro

///////////////////////////////////////////////////////////////////////////////
// Reusable                                                                  //
///////////////////////////////////////////////////////////////////////////////

.container
    margin-left: auto
    margin-right: auto
    padding-left: 15px
    padding-right: 15px
    position: relative
    width: 100%

.section
    padding-bottom: 30px
    padding-top: 30px

@import _responsive.sass
